-e git://github.com/koenkk/autosub.git@24d4c62193bab6a8dd7b5d7c624bed83e3bc6d4a#egg=autosub
bokeh==0.12.10
certifi==2017.7.27.1
chardet==3.0.4
fuzzywuzzy==0.15.1
google-api-python-client==1.6.4
httplib2==0.10.3
idna==2.6
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.3
oauth2client==4.1.2
progressbar2==3.34.3
pyasn1==0.3.7
pyasn1-modules==0.1.5
pysrt==1.1.1
python-dateutil==2.6.1
python-Levenshtein==0.12.0
python-utils==2.2.0
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
scikit-learn==0.19.0
scipy==0.19.1
six==1.11.0
sklearn==0.0
tornado==4.5.2
translation==1.0.5
uritemplate==3.0.0
urllib3==1.22
