autosub==0.3.12
backports-abc==0.5
beautifulsoup4==4.6.0
bokeh==0.12.5
certifi==2017.4.17
chardet==3.0.3
click==6.7
futures==3.1.1
fuzzywuzzy==0.15.0
google-api-python-client==1.6.2
goslate==1.5.1
httplib2==0.10.3
idna==2.5
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.12.1
oauth2client==4.1.0
progressbar==2.3
progressbar2==3.30.2
pyasn1==0.2.3
pyasn1-modules==0.0.9
PyDictionary==1.5.2
pysrt==1.1.1
python-dateutil==2.6.0
python-Levenshtein==0.12.0
python-utils==2.1.0
PyYAML==3.12
requests==2.17.3
rsa==3.4.2
scikit-learn==0.18.1
scipy==0.19.0
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
tornado==4.5.1
translation==1.0.5
uritemplate==3.0.0
urllib3==1.21.1
